.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 112px;
  background: white;
}
.left-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-cont > span {
  color: var(--Primary-Black, #000);
  /* Heading H5/Bold */
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  margin-right: 14px;
}
.mid-cont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.list-mid-cont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.list-mid-cont li {
  margin-right: 32px;
  color: var(--Primary-Black, #000);

  /* Heading H5/Semibold */
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  transition: 0.7s;
  cursor: pointer;
  padding-bottom:3px;
  background-image: linear-gradient(#000 0 0);
  background-position: right -100% bottom 0;
  background-size: 190% 2.5px;
  background-repeat: no-repeat;
}
.list-mid-cont li:hover{
    background-position: left 100% bottom 0;
    transition: background-position 0.5s;
} 
.right-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-cont  button {
  display: flex;
  height: 56px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  /* Button Text/SemiBold */
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  background: #000;
  border-radius: 4px;
  cursor: pointer;
}
.right-cont > a{
  text-decoration: none;
}
